<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <!-- Connexion à une base de données MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/english_db?createDatabaseIfNotExist=TRUE</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345</property>
        <!-- Affiche les requètes SQL générées par Hibernate dans la console -->
        <property name="show_sql">true</property>
        <!-- Recrée les tables de la base de données à chaque démarrage -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

        <!-- Classes de mapping -->
        <mapping class="com.estiam.englishapp.pojos.Joueur"></mapping>
        <mapping class="com.estiam.englishapp.pojos.Ville"></mapping>
        <mapping class="com.estiam.englishapp.pojos.Partie"></mapping>
        <mapping class="com.estiam.englishapp.pojos.Verbe"></mapping>
        <mapping class="com.estiam.englishapp.pojos.Question"></mapping>


    </session-factory>

</hibernate-configuration>
